// Board style

.black,.white,.empty,.emptyblack,.emptywhite {
  stroke: black;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
.empty,.emptyblack,.emptywhite { fill: tan }
.emptyblack:hover, .emptyblack:hover + .emptyblack { fill: black }
.emptywhite:hover, .emptywhite:hover + .emptywhite { fill: white }
.black { fill: black }
.white { fill: white }
.board { fill: tan }
.separators { fill: darkgray }

.rotateselect { opacity: 0 }
.rotateselect:hover + .rotateblack { fill: black }
.rotateselect:hover + .rotatewhite { fill: white }
.norotate { visibility: hidden }
.rotateblack,.rotatewhite {
  fill: tan;
  stroke: black;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
.rotateblack:hover { fill: black }
.rotatewhite:hover { fill: white }

.cvalue,.rvalue,.tvalue {
  stroke: gray;
  stroke-width: .5;
  vector-effect: non-scaling-stroke;
  pointer-events: none;
  opacity: 0;
}
.fvalue {
  stroke: gray;
  stroke-width: .5;
  vector-effect: non-scaling-stroke;
}

.turnlabel,.valuelabel {
  text-anchor: middle;
}

.backrect {
  fill: #c0c0c0;
  stroke: black;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
.back:hover > .backrect {
  fill: white;
}
.backlabel {
  text-anchor: middle;
  dominant-baseline: middle;
}

.five {
  stroke: black;
  stroke-width: 1;
  vector-effect: non-scaling-stroke;
}
.mask {
  fill: white;
}
