RewriteEngine On

# Turn on HSTS
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS

# Redirect http to https
RewriteCond %{HTTPS} !^on$
RewriteRule (.*) https://perfect-pentago.net/$1 [R,L]

# Redirect www.* et al. to https://perfect-pentago.net.
RewriteCond %{HTTP_HOST} !^perfect-pentago.net$
RewriteRule ^(.*)$ https://perfect-pentago.net/$1 [R]
