/*** Page layout ***/

body {
  background: #d5d6d7;
}

.all {
  width: 60em;
  margin: 0 auto;
  background-color: white;
  border: 1px solid;
  border-radius: 1em;
  overflow: hidden;
}

header {
  text-align: center;
  background-color: #c0c0c0;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid;
}

.main {
  background-color: white;
  float: left;
  width: 49em;
  border-left: 11em solid #c0c0c0;
}

nav.contents {
  float: left;
  width: 11em;
  margin-left: -11em;
  position: relative;
}
nav.back {
  top: 0;
  right: 0;
  width: 7em;
  position: absolute;
  background-color: #c0c0c0;
}
nav a {
  display: block;
  height: 3em;
  line-height: 3em;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
}
nav a          { border-bottom: 1px solid black; }
nav.back a     { border-left: 1px solid black; }
nav a:hover    { background-color: white; }
nav a:visited  { color: black; }

.content {
  width: 49em;
  float: left;
  margin-right: -49em;
  border-left: 1px solid black;
  position: relative;
}

svg#board {
  width: 480px;
  display: block;
  margin: 0 auto;
}

.status {
  text-align: center;
  width: 100%;
  height: 3em;
}

#error {
  color: red;
}

.load {
  display: inline;
  animation: spin 2s infinite ease;
}
@keyframes spin {
    0% { color: black;  text-shadow: none; }
   20% { color: purple; text-shadow: 0px 0px 6px purple; }
   40% { color: black;  text-shadow: none; }
}

section {
  width: 47em;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.indent {
  margin-left: 2em;
}

.logos { text-align: center; }
.logos img { padding: 0 1em; }

#counts {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
